@model BloodBankManagementSystem.BloodDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BloodDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BloodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BloodId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
