@model IEnumerable<BloodBankManagementSystem.BloodStock>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CustomsStyleSheet/indexemployeeSheet.css" rel="stylesheet" />

<h1 class="text-right" style="font-family: 'Anton', sans-serif;">Available Blood List</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create",null,new{@class="btn btn-danger", @style="width: 200px; margin: 0 auto; display: block;"})
    </p>
}
<br />
<table class="table table-bordered table-responsive table-hover">
    <col width="130">
    <col width="80">
    <tr>
        <th>
            Blood Group
        </th>
        @if (User.IsInRole("Admin"))
        {
        <th> CRUD Operation</th>
        }
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.BloodName)
    </td>

    @if (User.IsInRole("Admin"))
    {
        <td>
            
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="about-us">
                    <li>@Html.ActionLink("Edit", "Edit", new { id = item.BloodListId })</li>
                    <li>@Html.ActionLink("Details", "Details", new { id = item.BloodListId })</li>
                    <li>@Html.ActionLink("Delete", "Delete", new { id = item.BloodListId })</li>
                </ul>
            </div>
    
        </td>
    }
</tr>
    }

</table>
